@tailwind base;
@tailwind components;
@tailwind utilities;
 

 /* react toast classes  */
.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    /* color: #10171D; /* #10171D* */
    font-size:1.2rem !important;
  }
  .toastProgress {
    background: #ffffff !important;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ef642d&c2=b8b51c&gt=l&gd=dtr
*/
background: #EF642D;
background: linear-gradient(225deg, #ff0000,#f6ff00) !important;
  }
  .Toastify__toast--error {
    background-color: red !important;
    /* border: 1px solid #000000; */
    /* border-radius: 50px !important; */
    /* background: #ff0008 !important; */
}

body{
  background-color: rgb(236, 254, 254) !important;
  /* background-color: rgb(13, 0, 47) !important; */
}

 