@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Kalnia:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:wght@300&display=swap');
 

 /* react toast classes  */
.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    /* color: #10171D; /* #10171D* */
    font-size:1.2rem !important;
  }
  .toastProgress {
    background: #ffffff !important;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ef642d&c2=b8b51c&gt=l&gd=dtr
*/
background: #EF642D;
background: linear-gradient(225deg, #ff0000,#f6ff00) !important;
  }
  .Toastify__toast--error {
    background-color: red !important;
    /* border: 1px solid #000000; */
    /* border-radius: 50px !important; */
    /* background: #ff0008 !important; */
}

body{
  /* background-color: rgb(236, 254, 254) !important; */
  background-image: linear-gradient(to top, #9e7bd1, #9883db, #918ae4, #8992ec, #8099f4, #7193f8, #5e8dfb, #4688ff, #1872ff, #005aff, #003dff, #0600ff) !important;
  
  /* background-color: rgb(13, 0, 47) !important; */
}

.logo{
      font-family: "Philosopher", sans-serif !important;
      font-size: 1.5rem;
      font-weight:  700;
      line-height: 45px;
      color: #ffffff;
    
     
 
      text-shadow:0.5px 1px #000000;
    
     
}
 
html {
  scroll-behavior: smooth;
}

.chetan{
  /* background-color: #0600FF !important; */
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.sidepanel{
  background: rgba(20, 20, 20, 0.523);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}